.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 240px;
    height: 330px;
    margin: 20px;
    position: relative;
}

.product-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: fill;

}

.product-info {
    padding: 10px;
}

.product-title {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.product-description {
    color: #666;
    margin-bottom: 12px;
}

.product-price-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;

}

.product-price {
    font-size: 0.9rem;
    font-weight: thin;
    text-decoration: line-through;
    color: #666;
}

.discount {
    color: #e1ae35;
    font-size: 1.1rem;
}

.product-rating {
    color: #f39c12;
    position: absolute;
    bottom: 10px;
}

.product-stock {
    color: #2ecc71;
}

.product-brand {
    margin-top: 8px;
    color: #3498db;
}
.cart-and-save-buttons{
    display: flex;
    height: 20px;
    width: 90%;
}
.add-to-cart, .save-button{
    height: 20px;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 3px;
    border: 0;

}
.add-to-cart{
    position: absolute;
    top: 10px;
    right: 10px;
}
.save-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.add-to-cart img, .save-button img{
    width: 100%;
    height: 100%;
}

